/* Add CSS here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dee2e6;
    /* text-align: center; */
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

h2 {
    font-size: 3rem;
    z-index: 999;
    /* text-align: center; */
}

.calculator {
    display: flex;
    width: 28rem;
    flex-direction: column;
    box-shadow: 0px 0px 51px 27px rgba(168, 172, 176, 0.65);
    text-align: center;

    background-color: #fff5f5;

}

.row {
    display: flex;
    justify-content: center;
}

.row input {
    font-size: 2.4rem;
    width: 80px;
    height: 70px;
    outline: none;
    border: .2px solid #dee2e6;
    cursor: pointer;
    color: rgba(70, 80, 90, 0.982)
}

.row input:hover,
.row input:focus {
    transform: scale(1.02);

}


.equal {
    width: 130px !important;
    background-color: #37b24d;
    color: #fff !important;

}


.first-row {
    width: 100%;
}

.display-input {
    width: 100% !important;
    height: 12rem !important;
    border: none;
    text-align: end;
    font-size: 3rem !important;
    color: #000 !important;
}

.bg-color {

    background-color: #868e96 !important;
    border: .2px solid #fff !important;
    color: rgba(27, 28, 29, 0.982) !important;
    /* border-color: #868e96 !important; */
}